<% content_for :title, "Editing member communicant" %>

<h1>Editing member communicant</h1>

<%= render "form", member_communicant: @member_communicant %>

<br>

<div>
  <%= link_to "Show this member communicant", @member_communicant %> |
  <%= link_to "Back to member communicants", member_communicants_path %>
</div>
