<p style="color: green"><%= notice %></p>

<% content_for :title, "Member communicants" %>

<h1>Member communicants</h1>

<div id="member_communicants">
    <% @member_communicants.each do |member_communicant| %>
    <%= render partial: "member_communicant/member_communicant_item" %>
    <p>
        <%= link_to "Show this member communicant", member_communicant %>
    </p>
    <% end %>
</div>

<%= link_to "New member communicant", new_member_communicant_path %>