<% content_for :title, "New member communicant" %>

<h1>New member communicant</h1>

<%= render "form", member_communicant: @member_communicant %>

<br>

<div>
  <%= link_to "Back to member communicants", member_communicants_path %>
</div>
