<p style="color: green"><%= notice %></p>

<% content_for :title, "Communicants" %>

<h1>Communicants</h1>

<div id="member_communicants">
  <% @member_communicants.each do |member_communicant| %>
    <%= render member_communicant %>
    <p>
      <%= link_to "Show this communicant", member_communicant %>
    </p>
  <% end %>
</div>

<%= link_to "New communicant", new_member_communicant_path %>
